@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Jura', sans-serif;
}
html {
    font-size: 62.5%; // This made it that 1rem is 10px.
}

.page-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(13deg, rgba(3,3,3,.7) 0%, rgba(116,117,117,.7) 70%, rgba(254,255,255,1) 70%, rgba(146,150,153,rgba(116,117,117,.7)) 70%);  
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}