@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: white;
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse-circle, .mouse-dot {
  position: fixed;
  z-index: 100;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.mouse-circle {
  border: 0.1rem solid rgb(228, 18, 18);
  border-radius: 50%;
  -webkit-animation: mouseCircleAnime 5s infinite;
          animation: mouseCircleAnime 5s infinite;
}

.mouse-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.678);
}

@-webkit-keyframes mouseCircleAnime {
  0% {
    width: 3rem;
    height: 3rem;
  }
  50% {
    width: 1.3rem;
    height: 1.3rem;
  }
  100% {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes mouseCircleAnime {
  0% {
    width: 3rem;
    height: 3rem;
  }
  50% {
    width: 1.3rem;
    height: 1.3rem;
  }
  100% {
    width: 3rem;
    height: 3rem;
  }
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 241, 241);
}
.container .logo {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 2rem;
  color: black;
}
.container .page {
  width: 900px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  position: relative;
  color: black;
  z-index: 5;
  transform: scale(0.8);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
}
.container .page .featured-text {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2.8rem;
  font-weight: 700;
  color: black;
}
.container .page h2 {
  position: absolute;
  font-size: 2.8rem;
  font-weight: 600;
  color: #000000;
  bottom: -2.8rem;
  right: 0;
}
.container .page h3 {
  font-size: 1rem;
  top: 5rem;
  left: 0rem;
  color: black;
}
.container .page .featured-text-1 {
  top: 4rem;
  left: 1.5rem;
}
.container .page .featured-text-3 {
  transform: rotate(90deg);
  top: 8rem;
  right: -1rem;
}
.container .page img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .page .greyflower {
  width: 120px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 8rem;
  right: 10rem;
  z-index: 4;
}

.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section-1 .circles {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.section-1 .circles .circle {
  mix-blend-mode: multiply;
  opacity: 60%;
}
.section-1 .circles .circle-1 {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: rgb(240, 27, 27);
}
.section-1 .circles .circle-2 {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: rgb(166, 87, 219);
  mix-blend-mode: multiply;
}
.section-1 .circles .circle-3 {
  background: mediumaquamarine;
  width: 7px;
  height: 70px;
  border-radius: 0;
  opacity: 60%;
}
.section-1 .circles .circle-4 {
  background: mediumaquamarine;
  width: 300px;
  height: 60px;
  border-radius: 0;
}/*# sourceMappingURL=style.css.map */